<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^([^/]*)/([^/]*)/([a-zA-Z0-9_-]+)\.min$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?content={R:1}&amp;id={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^([^/]*)/([^/]*)/([^/]*)/([a-zA-Z0-9_-]+)\.min$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?content={R:1}&amp;id={R:2}&amp;hal={R:3}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
